@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0.9rem 0;
}

svg {
  margin-right: 0.37rem;
}

span a {
  color: hsl(0, 0%, 100%);
  transition: color 0.4s ease-in-out;
}

span a:hover {
  color: hsl(178, 100%, 50%);
}

main {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 21.9rem;
  height: 37.5rem;
  padding: 1.6rem;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.card-image {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  margin: 0 auto 1.5rem auto;
}

.card-image img {
  width: 100%;
  border-radius: 6px;
}

.card-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(178, 100%, 50%, 0.5);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.card-image:hover .card-image-overlay {
  opacity: 1;
}

.card-details {
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.card-title {
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  font-weight: 400;
  transition: color 0.4s ease-in-out;
  cursor: pointer;
}

.card-title:hover {
  color: hsl(178, 100%, 50%);
}

.card-details > p {
  font-size: 1.13rem;
}

.card-details-more {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  margin-bottom: 0.9rem;
}

.color-text {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.svg-center {
  display: flex;
  align-items: center;
  padding-bottom: 0.9rem;
}

.avatar-container {
  width: 14.38rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-image {
  width: 2.5rem;
  margin: 0;
}

.avatar-image img {
  width: 100%;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.attribution {
  margin-top: 1.88rem;
  font-size: 0.7rem;
  text-align: center;
  color: hsl(0, 0%, 91%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
